h1{
    text-align: center;
    color: rgb(12, 1, 1);
}
h2{
    text-align: center;
    color: rgba(0, 255, 85, 0.76);
}
h3{
    text-align: center;
    color: rgba(253, 252, 251, 0.856);
}
body {
    background-color: rgba(206, 92, 92, 0.918);

}
  
